<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Info</title>
</head>
<body>
    <h1>The Product Manager Accelorator</h1>
    <p>The Product Manager Accelerator Program supports PM professionals at all career stages, from entry-level to leadership roles, helping hundreds achieve their career goals. Participants in the program develop essential PM and leadership skills, building a solid foundation for their future.</p>
    <a href="/">Back</a>
</body>
</html>
